/* Theme: Gruvbox Dark*/
body {
	background: #222222;
	color: #dfdfdf;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: auto;
}

p {
	color: #ffffff;
}

/* Headers */
h1 {
	color: #f47373;
}
h2 {
	color: #8fe80a;
}

/* Links */
a {
	color: #1976d2;
}
a:link {
	color: #1976d2;
}
li {
	color: #ffffff;
}
h4 {
	color: #ffaf00;
}

/* Classes */

.title {
	text-align: center;
}

/* Borders */
#borderedimage {
	border-style: solid;
	max-width: 800px;
	max-height: auto;
}

#borderedtext {
	border-style: solid;
	padding: 10px;
	width: auto;
	max-width: 400px;
}
#wideborderedtext {
	border-style: solid;
	padding: 10px;
	width: 10%;
}

/* Grid layout */

.grid {
	display: grid;
	max-width: 100%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	padding: 10px;
	align-content: center;
	justify-content: center;
}
.widegrid {
	display: grid;
	max-width: 100%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	padding: 10px;
	align-content: center;
	justify-content: center;
}
.griditem {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
